.label {
  text-align: center;
  margin: 16px
}

.header {
    text-align: center;
    margin: 16px
}

.actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  gap: 12px
}

@keyframes pulsate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.pulsate {
  animation: pulsate 1s infinite;
  display: inline-block;
  /* Optional: make it smoother */
  transition: transform 0.2s;
}

